.castList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-left: -10 px;
}
.castItem {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}
