.cardList {
  list-style: none;
  margin-left: -30px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
}

.cardItem {
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 12%), 0px 1px 1px rgba(0, 0, 0, 14%),
    0px 2px 1px rgba(0, 0, 0, 20%);
  border-radius: 5px 5px 4px 4px;

  flex-basis: calc(100% / 3 - 30px);
  width: 274px;
}

.cardPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.cardThumb {
  border-radius: 5px;
  overflow: hidden;
  min-height: 402px;
  background-color: black;
}

.cardInfo {
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.cardTitle {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: black;
}
